body{
  background-color: #343A40;
}
.statistics .container{
  margin-top: 30px;
  margin-bottom: 80px;
  
}
.statistics img{
  width: 100%;
}
.statistics h2{
  color: #9b59b6;
  margin-top: 20px;
}
.statistics p{
  color: #CCC;
}
.statistics h5{
  color: #9b59b6;
  margin-top: 40px;
}
.statistics h3{
  color: #CCC;
}
.statistics .statistical{
  margin-top: 20px;
}