.top_contributors{
    background-image: url('../../static/images/1.jpg');
    overflow-y: hidden;
}

.top_contributors h2{
    background-color: #9b59b6;
    color: #F2F2F2;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}


.contributors-header-h2 {position:relative}
.contributors-header-h2:before, .contributors-header-h2:after{
    position:absolute; content:' ';
    width:50px; height: 50px;
    border-color:white; 
    border-style:solid; 
}
.contributors-header-h2:before {top:30px;left:-15px;border-width: 0px 0 3px 3px}
.contributors-header-h2:after {top:-15px;right:-15px;border-width: 3px 3px 0 0}



.contributors-header-container {position:relative;   margin: 30px;}
.contributors-header-container:before, .contributors-header-container:after{
    position:absolute; content:' ';
    width:50px; height: 50px;
    border-color:white; 
    border-style:solid; 
}
.contributors-header-container:before {top:60px;left:-5px;border-width: 0px 0 3px 3px}
.contributors-header-container:after {top:-5px;right:-5px;border-width: 3px 3px 0 0}



@import url(https://fonts.googleapis.com/css?family=Open+sans);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
.snip1515 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}

.snip1515 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1515 .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 2px solid #9b59b6;
}

.snip1515 .profile-image img {
  max-width: 100%;
  vertical-align: top;
}

.snip1515 figcaption {
  width: 100%;
  background-color: #F2F2F2;
  color: #555;
  padding: 125px 25px 25px;
  margin-top: -100px;
  display: inline-block;
}

.snip1515 h3,
.snip1515 h4,
.snip1515 p {
  margin: 0 0 5px;
}

.snip1515 h3 {
  font-weight: 600;
  font-size: 1.3em;
  font-family: 'Playfair Display', Arial, sans-serif;
}

.snip1515 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1515 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1535 {
  background-color: #9b59b6;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 15px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535:before {
  border-color: #9b59b6;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: #9b59b6;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: #9b59b6;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
}
